html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#bbb {
    position:fixed;top:505px;right:40px;padding:10px;background:dodgerblue;color:white;
    border-radius:5px;border:none;box-shadow:5px 5px 8px black;
}
